[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
google-cloud-bigquery = "*"
pandas = "*"
pyyaml = "*"
pyarrow = "*"
db-dtypes = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
